body {
    font-family:'Times New Roman', Times, serif;
    background-color: #f3f0f7; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #ffffff;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(106, 13, 173, 0.15);
    width: 100%;
    max-width: 340px;
    text-align: center;
}

.login-header h1 {
    color: #b353f7;
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-size: 1.8rem;
}

.login-header p {
    color: #c87ff1;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.input-group {
    text-align: left;
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    font-size: 0.8rem;
    color: #4a148c; 
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 1.5px solid #e1bee7; 
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #9c27b0;
    box-shadow: 0 0 8px rgba(156, 39, 176, 0.2);
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #7b1fa2; 
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    margin-top: 10px;
}

.btn-login:hover {
    background-color: #430c85; 
    transform: translateY(-2px);
}

.footer-links {
    margin-top: 20px;
}

.footer-links a {
    font-size: 0.8rem;
    color: #9b27b0bc;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #af76f5;
    text-decoration: underline;
}